version: 0.2
env:
  variables:
    account_id: ${account_id}
    dockerhub_user: ${dockerhub_user}
    ecr: "%{ for r in ecr_repositories ~}${r},%{ endfor ~}"
    environment: ${environment}
    image_repo: ${image_repo} 
    image_repo_name: ${image_repo_name}
    proxy_name: ${proxy_name}
  parameter-store:
    dockerhub_password: bitgdi-dockerhub-password

phases:
  build:
    commands:
      - echo "[ECHO] Running pre_build STEP at $(date)"
      - git clone https://github.com/vcrini/aws-utilities  -b migration   --depth=1 utilities
      - ls -l utilities/codebuild/
      - utilities/codebuild/build_heartbeat.sh

artifacts:
    files:
      - build.sh
      - ecs-params.yml
      - docker-compose.yml
      - docker-compose.aws.yml
      - tag
