version: 0.2
env:
  variables:
    AWS_DESIRED_COUNT: ${aws_desired_count}
    AWS_ECS_CLUSTER: ${aws_ecs_cluster}
    AWS_SECURITY_GROUP: "${aws_security_group}"
    AWS_SERVICE_NAME: ${aws_service_name}
    AWS_STREAM_PREFIX: ${aws_stream_prefix}
    AWS_SUBNET: "${aws_subnet}"
    DEPLOYMENT_MAX_PERCENT: ${deployment_max_percent}
    DEPLOYMENT_MIN_HEALTHY_PERCENT: ${deployment_min_healthy_percent}
    ECS_IMAGE_PULL_BEHAVIOR: ${ecs_image_pull_behavior}
    TASK_ROLE_ARN: ${task_role_arn}
    deploy_template_name: ${deploy_template_name}
    ecr: "%{ for r in ecr_repositories ~}${r},%{ endfor ~}"
    image_repo: ${image_repo} 
    image_repo_name: ${image_repo_name} 
    proxy_name: ${proxy_name}
    target_group_ecs_cli_string: ${target_group_ecs_cli_string}
    %{ for config_key, config_value in container_env }${config_key}: ${config_value} 
    %{ endfor ~}

  parameter-store:
    ELASTICSEARCH_CO_PASSWORD: "bitgdi-heartbeat-co-password"

  exported-variables:
    - ELASTICSEARCH_CO_PASSWORD
    %{ for config_key, config_value in container_env }- ${config_key}
    %{ endfor ~}

phases:
  build:
    commands:
      - echo "[ECHO] deploying STEP at $(date)"
      - git clone https://github.com/vcrini/aws-utilities  -b 1.3   --depth=1 utilities
      - bash -xe utilities/codebuild/$deploy_template_name.sh
